/** style.less
 *  Created by Richard Bennett
 *  v1.2.0
 */

// LESS Prefixer :: http://lessprefixer.com
// @import "prefixer.less";
@import "../less/kube500/kube.less";
@import "../less/europa.less";
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic);

// resets

  * {
    -webkit-box-sizing: border-box;
  }

// variables & mixins

  // typography

    @typeMainFamily: 'Europa', 'AvenirNext', 'Avenir Next', 'HelveticaNeue', 'Helvetica Neue', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    @typeSerifFamily: 'Crimson Text', 'Times New Roman', 'times', serif;
    @typeHeaderFamily: @typeMainFamily;

  // colour

    @appBG: #fff;
    @colourMain: rgba(34,34,34,1);
    @tint: #2185c5;
    @tintRed: #b76055;
    @cardBG: #fefefe;

  // debug

    .g05 {
      background-color: rgba(0,0,0,0.05);
    }
    .g10 {
      background-color: rgba(0,0,0,0.1);
    }

  // animations

    @timing-function: cubic-bezier(.17,.67,.27,1);
    .animate(@du:300ms,@de:0ms){
      transition: all @du @timing-function @de;
    }

  // flexbox

    .flex-container {
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: flex !important;
      -webkit-flex-wrap: nowrap !important;
      -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
      -webkit-flex-direction: column !important;
      -ms-flex-direction: column !important;
      flex-direction: column !important;
      -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
      justify-content: center !important;
      -webkit-align-content: stretch !important;
      -ms-flex-line-pack: stretch !important;
      align-content: stretch !important;
      -webkit-align-items: center !important;
      -ms-flex-align: center !important;
      align-items: center !important;
    }
    .flex-container-row {
      -webkit-flex-direction: row !important;
      -ms-flex-direction: row !important;
      flex-direction: row !important;
    }
    .flex-container-column {
      -webkit-flex-direction: column !important;
      -ms-flex-direction: column !important;
      flex-direction: column !important;
    }
    .flex-container-spacearound {
      -webkit-justify-content: space-around !important;
      -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
    }
    .flex-container-spacebetween {
      -webkit-justify-content: space-between !important;
      justify-content: space-between !important;
    }
    .flex-align-start {
      -webkit-align-items: flex-start !important;
      -ms-flex-align: flex-start !important;
      align-items: flex-start !important;
    }
    .flex-align-center {
      -webkit-align-items: center !important;
      -ms-flex-align: center !important;
      align-items: center !important;
    }
    .flex-align-end {
      -webkit-align-items: flex-end !important;
      -ms-flex-align: flex-end !important;
      align-items: flex-end !important;
    }
    .flex-item {
      -webkit-order: 0 !important;
      -ms-flex-order: 0 !important;
      order: 0 !important;
      -webkit-flex: 0 0 auto !important;
      -ms-flex: 0 0 auto !important;
      flex: 0 0 auto !important;
      -webkit-align-self: auto !important;
      -ms-flex-item-align: auto !important;
      align-self: auto !important;
    }
    .flex-item-elastic {
      -webkit-flex: 1 1 auto !important;
      -ms-flex: 1 1 auto !important;
      flex: 1 1 auto !important;
    }


// typography


// classes

  .hidden {
    display: none !important;
  }
  .restrict960 {
    display: block;
    margin: 0px auto;
    max-width: 960px;
  }

// form objects


// objects


// layout

  html, body {
    height: 100%;
  }

  header {
    height: 90%;
    background-color: lighten(@colourMain, 10%);
    background-image: url(../img/bg-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    nav {
      padding: 6em 0;
      a {
        color: @colourMain;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.87em;
        font-weight: bold;
        padding-right: 2em; 
      }
    }
  }

  footer {
    width: 100%;
    background-color: lighten(@colourMain, 10%);
    background-image: url(../img/bg-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: @appBG;
    padding: 6em 0;
    .footer {
      padding: 0 2em;
      a {
        color: @appBG;
        text-decoration: none;
        letter-spacing: 0.1em;
        line-height: 3.5em;
        padding: 0.17em 0;
        display: block;
      }
      h6 {
        color: inherit;
        letter-spacing: 0.1em;
        opacity: 0.37;
      }
    }
    hr {
      margin: 6em 0;
      border-top-color: rgba(255,255,255,0.17);
    }
    .privacy {
      padding: 0 2em;
      a {
        color: @appBG;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: 3.5em;
        font-size: 0.87em;
      }
    }
    .copyright {
      padding: 0 2em;
      font-family: @typeSerifFamily;
      font-style: italic;
      font-weight: 400;
      letter-spacing: 0.07em;
      opacity: 0.67;
      a {
        color: @appBG;
        text-decoration: none;
      }
    }
  }

// section-specific


